.MuiFormLabel-root.MuiInputLabel-root {
  white-space: normal !important;
  width: 100%;
  padding: 15px;
}

// .MuiSelect-icon {
//   display: none !important;
// }

.MuiFormLabel-root {
  padding-bottom: 14px;
}
