.pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  max-width: 208px;
}

.page,
.previous,
.next,
.break-me {
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  color: gray;
}

.active {
  border: 1px solid gray;
  color: black;
}

.break-me {
  cursor: default;
  color: gray;
}

.previous,
.next {
  font-weight: bold;
}

.break-me {
  cursor: default;
  margin: 0 5px;
}
